{{#each trips as |trip|}}
  {{log trip}}
  <div class="trip">
    <h5>{{trip.title}}</h5>
    <p><strong>Destination:</strong> {{trip.destination}}</p>
    <p><strong>Category:</strong> {{trip.category}}</p>
    <p><strong>Date:</strong> {{trip.date}}</p>
    <p><strong>Duration (Days):</strong> {{trip.duration}}</p>
    <p><strong>Budget:</strong> ${{trip.budget}}</p>
    <p><strong>Status:</strong> {{trip.status}}</p>
    <button data-id="{{trip._id}}" class="btn btn-info trip-edit">Edit Trip</button>
    <button data-id="{{trip._id}}" class="btn btn-danger trip-delete">Delete Trip</button>
  </div>

{{/each}}
