{{log trip}}
<h1>Editing: {{trip.title}}</h1>
<form id="edit-trip-form" data-id="{{trip._id}}" class="trip-form">
  <div class="form-group">
    <label for="title-edit-input">Title</label>
    <input id="title-edit-input" value="{{trip.title}}" class="form-control" type="text" required placeholder="Trip Title" name="trip[title]">
  </div>

  <div class="form-row">
    <div class="form-group col-7">
      <label for="category-edit-input">Category</label>
      <select id="category-edit-input" data-intended="{{trip.category}}" selectedIndex="4" class="form-control select" required name="trip[category]">
        <option value="" disabled>-</option>
        <option value="Sightseeing">Sightseeing</option>
        <option value="Beach">Beach</option>
        <option value="Roadtrip">Roadtrip</option>
        <option value="Mountains / Skiing">Mountains / Skiing</option>
        <option value="Cruise">Cruise</option>
        <option value="Camping / Hiking">Camping / Hiking</option>
        <option value="Food Tour">Food Tour</option>
        <option value="Staycation">Staycation</option>
        <option value="Visiting Friends / Family">Visiting Friends / Family</option>
      </select>
    </div>
    <div class="form-group col-5">
      <label for="status-edit-input">Status</label>
      <select id="status-edit-input" data-intended="{{trip.status}}" class="form-control select" required name="trip[status]">
        <option value="" disabled>-</option>
        <option value="Planned Trip">Future Trip (Plan)</option>
        <option value="Past Trip">Past Trip (Record)</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="destination-edit-input">Destination</label>
    <input id="destination-edit-input" value="{{trip.destination}}" class="form-control" type="text" required placeholder="Destination" name="trip[destination]">
  </div>

  <div class="form-row">
    <div class="form-group col-7">
      <label for="date-edit-input">Date</label>
      <input id="date-edit-input" value="{{trip.date}}" class="form-control" type="date" required name="trip[date]">
    </div>
    <div class="form-group col-5">
      <label for="duration-edit-input">Duration (Days)</label>
      <input id="duration-edit-input" value="{{trip.duration}}" class="form-control" type="number" required placeholder="1" name="trip[duration]">
    </div>
  </div>

  <div class="form-group">
    <label for="budget-edit-input">Budget ($, Nearest 100)</label>
    <input id="budget-edit-input" value="{{trip.budget}}" class="form-control" type="number" step="100" required placeholder="100" name="trip[budget]">
  </div>

  <button id="edit-trip-button" class="btn btn-success" type="submit">Save Changes</button>
</form>
